.read {
  background: #FFFFFF;
  height: 272px;
  max-width: 1092px;
  color: var(--bg-dark);
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
  margin-top: 12px;
  padding: 32px;
  margin-bottom: 28px;
  border-radius: 12px;

  &__item {
    background: var(--gray);
    width: 245px;
    height: 151px;
    padding: 12px 16px;
    border-radius: 12px;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    margin-bottom: 24px;
  }

  &__amount {
    font-size: 14px;
  }

  &__title {
    font-size: 28px;
    font-weight: 500;
  }

  &__img {
    width: 16px;
    height: 16px;
    margin-top: 4px;
  }

  &__reactions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }

  &__text {
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    border-radius: 20px;
    background: #FF6B00;
    padding: 4px 8px;
  }

  &__desc {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
  }

  &__reactions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }

}