@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --gray: #F2F2F2;
  --bg-dark: #262626;
  --bg-body: #F7F7F7;
  --nav-item: #262626;
  --nav-item-active: #FF6B00;
  --light-gray: #848484;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--bg-body);
  font-family: Roboto, serif;
}
